// Text color
$text-c1-color: #ffffff;
$text-c2-color: #000000;
$text-c3-color: #F7F7F7;
$text-c4-color: #CBC9C9;
$text-c5-color: red;
$text-c6-color: #140101;
$text-c7-color: #1ED90E;



// Font-size
$text-xs: 16px;
$text-s: 20px;
$text-l: 24px;
$text-xl: 40px;


// Font weight
$text-fw-300: 300;
$text-fw-400: 400;
$text-fw-600: 600;
$text-fw-700: 700;


// Background color
$bg-c1: #f5f5f5;
$bg-c2: #F8B653;
$bg-c3: #F8F8F8;
$bg-c4: #DEDDDC;
$bg-c5: #AE18E2;
$bg-c6: #CCCCCC;
$bg-c7 : linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$bg-c8 : linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);



// Mixin
@mixin atag($color: $text-c3-color, $fs: $text-xs, $fw: $text-fw-300) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin buttonForm($bg: $bg-c2, $fs: $text-s, $color: $text-c1-color) {
    color: $color;
    background-color: $bg;
    font-size: $fs;
    border: none;
    padding: 15px 48px;
    cursor: pointer;
}


